@import "bootstrap-sprockets";
@import "bootstrap";

@import 'variables.scss';

/* mixins */
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* css */

h1{
  text-transform: uppercase;
  color: $tertiary !important;
  letter-spacing: 4px;
}
header.navbar{
  border-radius:0;
  background-color: $main;
  .container{
    #logo{
      font-size:4rem;
      font-family: $heading-font;
      text-transform: uppercase;
      float: left;
      letter-spacing: 1px;
      color: #fff !important;
    }
    nav{
      font-size:2rem;
      ul.nav{
        li{
          a{
            font-size:2rem;
            line-height:32px;
            font-weight:300;
            color:$white;
            &:hover, &:focus{
              color:$darker;
              outline:none;
              background:none;
            }
          }
          &.open{
            a{
              color:$dark;
              background:none !important;
            }
          }
        }
      }
    }
  }
}

/* todos */
ol.todos{
  padding-left:0;
  li{
    background:$lightgrey;
    padding:1rem;
    list-style:none;
    margin-bottom:10px;
    .meta{
      color:$mediumgrey;
      font-size:.75em;
      display:block;
      .author{

      }
      .timestamp{

      }
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* random */
.vertical-center {
  height:100%;
  display: flex;
  align-items: center;
}

/* footer */

footer{
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $lightgrey;
  color: $dark;

  a{
    color: $main;
    &:hover{
      color:$darker;
    }
  }
  small{
    float:left;
  }
  nav{
    float:right;
    ul{
      list-style:none;
      li{
        float:left;
        margin-left:15px;
      }
    }
  }
}

/* testing */
.debug_dump {
  width: 100%;
  max-width:1170px;
  margin:100px auto;
  @include box_sizing;
}
