$font-style: 'Roboto', sans-serif;
$heading-font: 'Roboto Mono', monospace;
$max-width: 1170px;

$tertiary: #53B5B2;
$main: #53B5B2;
$secondary: #B55353;
$tertiary: #D2A928;

$white: #fff;
$lightgrey: #f0f0f0;
$dark: #444;
$darker: #1D1415;
$light-transparent:	rgba(255,255,255,.9);
$dark-transparent: rgba(0,0,0,.3);
$darker-transparent: rgba(0,0,0,.6);
