<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - Jobberuby</title>
    <%=render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <main class="container">
      <%= yield %>
    </main>
    
  </body>
</html>
